.orders-content {
    margin-left: 5px;
    width: 100%;
    border-radius: 5px;
}

.orders-content-container {
    display: flex;
    flex-direction: column;
}

.completed-orders,
.pending-orders {
    background: white;
    margin-top: 21px;
    margin-left: 21px;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
    border: 1px solid lightgrey;
}

.pending-orders {
    margin-top: 14px;
}

.completed-orders {}

.section-header {
    background: #696974;
    color: #f1f1f1;
    padding: 14px;
    border-radius: 5px 5px 0 0;
}

.orders-container {
    width: 100%;
    padding: 14px;
}

.order {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px 5px 0 0;
    margin-bottom: 7px;
}

.order-header {
    padding: 7px;
    border-radius: 5px 5px 0 0;
    background: #F5F7F7;
    color: #696974;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.order-header .left-element,
.order-header .right-element {
    color: grey;
    font-size: 12px;
    font-weight: 700;
}

.order-body {
    color: #696974;
    display: flex;
    width: 100%;
    font-size: 12px;
    color: #696974;
    line-height: 1.6;
}

.order-content,
.delivery-to {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.order-content {
    width: 65%;
    justify-content: space-between;
}

.order-items-container {
    display: flex;
    flex-direction: column;
    padding: 7px;
}

.item-holder {
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
}

.item-holder h4 {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    color: #464644;
    cursor: pointer;
    font-size: 12px;
}

.item-holder h4:hover {
    color: #0b78c1;
}

.item-holder p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 15px;
    font-size: 12px;
}

.item-holder .price {
    font-size: 12px;
    font-weight: 700;
}

.total-payment-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 7px 0 7px;
    border-top: 1px solid lightgrey;

}

.total-payment-container span b {
    font-size: 14px;
    font-weight: 700;
}

.delivery-to {
    margin-left: auto;
    width: 35%;
    border-left: 1px solid lightgrey;
}

.delivery-to em {
    margin: 4px 0;
}

.delivery-to span {
    margin-left: 14px;
    font-weight: 500;
}

@media(max-width: 1199px) and (min-width: 992px) {

}

@media(max-width: 991px) and (min-width:801px) {

}

@media(max-width: 800px) {
    .orders-content {
        margin:5px 0;
    }
    
.completed-orders,
    .pending-orders {
        margin-left: 0;
    }
    
    .pending-orders{
        margin-top: 28px;
    }
    
    .order-header{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        line-height: 1.6;
    }
    .order-body {
        flex-direction: column;
    }
    .delivery-to,
    .order-content {
        width: 100%
    }
    .delivery-to {
        border-left-width: 0;
        border-bottom: 1px solid lightgrey;
        order:1;
        padding-left: 14px;
    }
    .order-content {
        order: 2;
    }
}

@media(max-width: 800px) and (min-width: 375px) {

}

@media(max-width: 374px) {

}
