.dash-menu {
    position: relative;
}

.user-icon {
    display: none;
    position: absolute;
    font-size: 52px;
    z-index: 1;
    background: white;
    border-radius: 50%;
    margin: -6px;
    color: #666674;
    transition:top 2000ms;
    cursor: pointer;
}

.menu-links {
    border-radius: 5px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 600;
    background: #666674;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 21px 0;
}

.menu-link {
    padding: 14px 40px;
    width: 100%;
    margin: 0;
    cursor: pointer;
    transition-property: color, background;
    transition-duration: 300ms;
}

.menu-link:hover {
    background: #E19F67;
    color: white;
}

.inblock {
    display: inline-block;
}

@media(max-width: 991px) {
    .user-icon {
        display: inline-block;
    }

    .user-icon.hide {
        top: -2rem;
        left: 0;
    }
    .menu-links {
        display:none;
    }
    .menu-links.show {
        display:block;
    }
}
