.home-content {
    margin-left: 5px;
    width: 100%;
    border-radius: 5px;
}

.icons-present-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon-present {
    background: white;
    position: relative;
    width: 250px;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 14px;
    margin: 21px 0;
    transition-property: box-shadow;
    transition-duration: 200ms;
    box-shadow: 1px 1px 20px -7px lightgrey;
}

.icon-present.active {
    box-shadow: 1px 1px 10px -4px grey;
}

.link-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    height: 210px;
    min-height: 210px;
    max-height: 210px;
    cursor: pointer;
}

.link-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 21px;
    margin-bottom: auto;
}

.link-body .desc-holder {
    line-height: 1.6;
    color: #666674;
    font-size: 15px;
}

.link-body .desc-holder a {
    color: #666674;
    font-weight: 500;
}

.icon-present .link-header i {
    font-size: 100px;
    color: #E19F67;
    -webkit-text-stroke: 1px transparent;
}

.icon-present .link-header i.active {
    -webkit-text-stroke: 1px lightgrey;
}

.icon-present .link-header h3 {
    color: #666674;
    font-weight: 500;
    margin: 5px 0;
    cursor: pointer;
    text-shadow: 1px 1px 8px transparent;
    transition: color text-shadow 200ms;
}

.icon-present .link-header h3:hover {
    color: #363644;
}

.icon-present .link-header h3.active {
    color: #666674;
}

@media(max-width: 800px) {
    .home-content {
        margin:5px 0;
    }
}