* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", arial;
    margin: 0;
    background: #F5F7F7;
    --main-color: #E19F67; //#1A73E8//#E8F0FE//#666674
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    width: 1170px;
    margin: 15px auto;
}

.dash-menu {
    width: 290px;
    height: auto;
    border-radius: 5px;
}

.my-grid {
    display: flex;
}

.title-holder{
    margin-left: 28px;
    margin-top: 21px;
    margin-bottom: 14px;
}

.titleH1 {
    font-weight: 300;
    letter-spacing: .1rem;
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

@media(max-width: 1199px) and (min-width: 992px) {
    .container {
        width: 970px;
    }

    .dash-menu {
        width: 310px;
    }
}

@media(max-width: 991px) and (min-width:801px) {
    .container {
        width: 750px;
    }

    .my-grid {
        display: flex;
        flex-direction: column;
    }

    .flex-item {
        width: 100%;
    }
}

@media(max-width: 800px) and (min-width: 375px) {
    .container {
        width: auto;
    }

    .my-grid {
        display: flex;
        flex-direction: column;
    }

    .flex-item {
        width: 100%;
        margin: 5px 0;
    }
}

@media(max-width: 374px) {
    .container {
        width: auto;
        padding: 0;
    }

    .my-grid {
        display: flex;
        flex-direction: column;
    }

    .flex-item {
        width: 100%;
        margin: 5px 0;
    }
}
